<div class="sticky bg-bluegray-50 text-gray-900 p-1 flex justify-content-between align-items-center flex-wrap">
  <div style="padding:0" class="font-bold mr-8"> <img src='assets/images/fulldeals.png' [height]="width<=350?30:50" class="mr-2"> </div>
  <div class="align-items-center hidden lg:flex">
      <span class="line-height-3">Your Professional Guide to Smart Shopping!</span>
  </div>
  <!-- <a class="flex align-items-center ml-2 mr-8">
      <a class="text-white" href="#"><span class="underline font-bold">Learn More</span></a>
  </a> -->
  
</div>