<div class=" bg-bluegray-900 text-gray-100 p-1 flex justify-content-between lg:justify-content-center align-items-center flex-wrap">
    <div class="font-bold mr-8">🔥 fulldeals.in</div>
    <div class="align-items-center hidden lg:flex">
        <span class="line-height-3">Your Professional Guide to Smart Shopping!</span>
    </div>
   
    
</div>


<!-- 
<div class="sticky bg-blue-900 text-gray-100 flex justify-content-between lg:justify-content-center align-items-center flex-wrap"
    style="text-align:center; height:40px">
    Copyright © 2023 Heidigi| All rights reserved.
</div> -->
