<div class="sticky bg-bluegray-900 text-gray-100 p-1 flex justify-content-between lg:justify-content-center align-items-center flex-wrap">
    <div class="font-bold mr-8"><i class="pi pi-barcode text-4xl text-blue-500"></i> Scan Shop </div>
    <div class="align-items-center hidden lg:flex">
        <span class="line-height-3">Track Every Item, From Arrival to Sale!</span>
    </div>
   
    
</div>


<!-- 
<div class="sticky bg-blue-900 text-gray-100 flex justify-content-between lg:justify-content-center align-items-center flex-wrap"
    style="text-align:center; height:40px">
    Copyright © 2023 Heidigi| All rights reserved.
</div> -->
