<div *ngIf="data">

    <div class="grid grid-nogutter surface-section text-800">

        <div class="col-12 md:col-6 overflow-hidden" *ngIf="!isMobile">
            <img [src]="imageUrl" alt="Image" class="md:ml-auto block md:h-full"
                style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)">


        </div>

        <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
            <section>
                <span class="block text-3xl font-bold mb-1">{{productName}}</span>
                <div class="text-3xl text-primary font-bold mb-3">{{tagLine}}</div>
                <p class="mt-0 mb-4 text-700 line-height-3">{{description}}</p>

                <button pButton pRipple label="Buy Now" type="button" (click)="buy()"
                    class="mr-3 p-button-raised"></button>
                <!-- <button pButton pRipple label="Live Demo" type="button" class="p-button-outlined"></button> -->
            </section>
        </div>

        <div class="col-12 md:col-6 overflow-hidden" *ngIf="isMobile">

            <img [src]="imageUrl" alt="Image" class="md:ml-auto block md:h-full" style="width:inherit">
        </div>

    </div>



    <div class="surface-section text-center" style="padding-top:5em">
        <div class="mb-3 font-bold text-3xl">
            <span class="text-blue-600">Key Features </span>
            <!-- <span class="text-900">of the Orient Electric Areva Heater</span> -->

        </div>
        <!-- <div class="text-700 mb-6">Ac turpis egestas maecenas pharetra convallis posuere morbi leo urna.</div> -->
        <div class="grid justify-content-center">
            <div class="col-12 md:col-4 mb-4 px-5">
                <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                    <i class="pi pi-check-square text-4xl text-blue-500"></i>
                </span>
                <div class="text-900 text-xl mb-3 font-medium">{{keyFeatures[0].split(":")[0]}}</div>
                <span class="text-700 line-height-3">{{keyFeatures[0].split(":")[1]}}</span>
            </div>
            <div class="col-12 md:col-4 mb-4 px-5">
                <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                    <i class="pi pi-check-square text-4xl text-blue-500"></i>
                </span>
                <div class="text-900 text-xl mb-3 font-medium">{{keyFeatures[1].split(":")[0]}}</div>
                <span class="text-700 line-height-3">{{keyFeatures[1].split(":")[1]}}</span>
            </div>
            <div class="col-12 md:col-4 mb-4 px-5">
                <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                    <i class="pi pi-check-square text-4xl text-blue-500"></i>
                </span>
                <div class="text-900 text-xl mb-3 font-medium">{{keyFeatures[2].split(":")[0]}}</div>
                <span class="text-700 line-height-3">{{keyFeatures[2].split(":")[1]}}</span>
            </div>
            <div class="col-12 md:col-4 mb-4 px-5">
                <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                    <i class="pi pi-check-square text-4xl text-blue-500"></i>
                </span>
                <div class="text-900 text-xl mb-3 font-medium">{{keyFeatures[3].split(":")[0]}}</div>
                <span class="text-700 line-height-3">{{keyFeatures[3].split(":")[1]}}</span>
            </div>
            <div class="col-12 md:col-4 mb-4 px-5">
                <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                    <i class="pi pi-check-square text-4xl text-blue-500"></i>
                </span>
                <div class="text-900 text-xl mb-3 font-medium">{{keyFeatures[4].split(":")[0]}}</div>
                <span class="text-700 line-height-3">{{keyFeatures[4].split(":")[1]}} </span>
            </div>
            <div class="col-12 md:col-4 md:mb-4 mb-0 px-3">
                <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                    <i class="pi pi-check-square text-4xl text-blue-500"></i>
                </span>
                <div class="text-900 text-xl mb-3 font-medium">{{keyFeatures[5].split(":")[0]}}</div>
                <span class="text-700 line-height-3">{{keyFeatures[5].split(":")[1]}}</span>
            </div>
        </div>
    </div>


    <div class="surface-ground px-4 py-8 md:px-6 lg:px-8">
        <div class="mb-3 font-bold text-3xl text-center">
            <span class="text-blue-600">Benefits </span>
            <!-- <span class="text-900">of the Orient Electric Areva Heater</span> -->

        </div>

        <div class="grid justify-content-center">
            <div class="col-12 lg:col-4">
                <div class="p-3 h-full">
                    <div class="shadow-2 p-3 h-full flex flex-column surface-card" style="border-radius: 6px">
                        <div class="text-900 font-medium text-xl mb-2">{{benefits[0].split(":")[0]}}</div>
                        <div class="text-600">{{benefits[0].split(":")[1]}}</div>

                    </div>
                </div>

            </div>

            <div class="col-12 lg:col-4">
                <div class="p-3 h-full">
                    <div class="shadow-2 p-3 h-full flex flex-column surface-card" style="border-radius: 6px">
                        <div class="text-900 font-medium text-xl mb-2">{{benefits[1].split(":")[0]}}</div>
                        <div class="text-600">{{benefits[1].split(":")[1]}}

                        </div>

                    </div>
                </div>

            </div>

            <div class="col-12 lg:col-4">
                <div class="p-3 h-full">
                    <div class="shadow-2 p-3 h-full flex flex-column surface-card" style="border-radius: 6px">
                        <div class="text-900 font-medium text-xl mb-2">{{benefits[2].split(":")[0]}}</div>
                        <div class="text-600">{{benefits[2].split(":")[1]}}</div>

                    </div>
                </div>

            </div>


        </div>



    </div>
    <div
        style='margin:auto; padding: 0;display: flex;justify-content: center;align-items: center; width:100%; height:100%'>

        <div class="surface-section px-4 py-8 md:px-6 lg:px-8 w-full lg:w-9">

            <div class="mb-3 font-bold text-3xl text-center">
                <span class="text-blue-600">Product Specifications </span>
                <!-- <span class="text-900">of the Orient Electric Areva Heater</span> -->

            </div>

            <!-- <div class="font-medium text-3xl text-900 mb-3">Product Specifications</div> -->
            <!-- <div class="text-500 mb-5">Morbi tristique blandit turpis. In viverra ligula id nulla hendrerit rutrum.</div> -->
            <ul class="list-none p-0 m-0">
                <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
                    <div class="text-500 w-6 md:w-2 font-medium">{{productSpecifications[0].split(":")[0]}}</div>
                    <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">
                        {{productSpecifications[0].split(":")[1]}}
                    </div>

                </li>

                <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
                    <div class="text-500 w-6 md:w-2 font-medium">{{productSpecifications[1].split(":")[0]}}</div>
                    <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">
                        {{productSpecifications[1].split(":")[1]}}</div>

                </li>
                <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
                    <div class="text-500 w-6 md:w-2 font-medium">{{productSpecifications[2].split(":")[0]}}</div>
                    <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">
                        {{productSpecifications[2].split(":")[1]}}</div>

                </li>
                <li class="flex align-items-center py-3 px-2 border-top-1 border-bottom-1 surface-border flex-wrap">
                    <div class="text-500 w-6 md:w-2 font-medium">{{productSpecifications[3].split(":")[0]}}</div>
                    <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1 line-height-3">
                        {{productSpecifications[3].split(":")[1]}}</div>

                </li>
            </ul>
        </div>
    </div>


    <div
        style='margin:auto; padding: 0;display: flex;justify-content: center;align-items: center; width:100%; height:100%'>

        <div class="surface-ground p-4 shadow-2 border-round w-full lg:w-4">
            <div class="mb-3 font-bold text-3xl text-center">
                <span class="text-blue-600">Why Choose </span> <br />
                <!-- <span class="text-900">The Orient Electric Areva Heater</span> -->

            </div>
            <div>
                <ul class="list-none p-0 m-0 flex-grow-1 text-3xl font-bold">
                    <li class="flex align-items-center mb-3">
                        <i class="pi pi-check-circle text-green-500 mr-2"></i>
                        <span class="text-900">{{whyChoose[0].split(":")[0]}}</span>
                    </li>
                    <li class="flex align-items-center mb-3">
                        <i class="pi pi-check-circle text-green-500 mr-2"></i>
                        <span class="text-900">{{whyChoose[1].split(":")[0]}}</span>
                    </li>
                    <li class="flex align-items-center mb-3">
                        <i class="pi pi-check-circle text-green-500 mr-2"></i>
                        <span class="text-900">{{whyChoose[2].split(":")[0]}}</span>
                    </li>

                </ul>
            </div>
        </div>
    </div>


    <div class="surface-section px-4 py-8 md:px-6 lg:px-8">
        <div class="text-700 text-center">
            <!-- <div class="text-blue-600 font-bold mb-3"><i class="pi pi-discord"></i>&nbsp;POWERED BY DISCORD</div>
        <div class="text-900 font-bold text-5xl mb-3">Join Our Design Community</div> -->
            <div class="text-700 text-xl mb-5"> {{conclusion}}</div>
            <button pButton pRipple label="Buy Now" (click)="buy()" icon="pi pi-shopping-bag"
                class="font-bold px-5 py-3 p-button-raised p-button-rounded white-space-nowrap"></button>
        </div>
    </div>
</div>
<p-dialog [modal]="true" [closable]="false" header="Loading...." [(visible)]="loading">
    <div class="grid justify-content-between">
        <div>

            <p-skeleton width="20rem" styleClass="mb-2"></p-skeleton>
            <p-skeleton width="20rem" styleClass="mb-2"></p-skeleton>

        </div>
    </div>
</p-dialog>