<div class="grid justify-content-center" style="margin:2px;height:100%">
    <ng-container *ngFor="let product of products; index as i">
    <p-card class="card" [style]="{ width: '310px', height:'420px', padding:'5px',margin:'10px'}">
        <ng-template pTemplate="header">

            <img onContextMenu="return false;" [src]="product.imageUrl" alt="Image" style=" overflow: hidden;
          width: 300px;
          height: 300px;
          border-radius: 8px;
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);" />
            <div class="grid justify-content-between"
                style="padding-left:15px;padding-right:15px;padding-top:10px;align-items: center;">
                <div>
                    <div class="text-900 p-1 font-medium text-xl mb-2">{{product.product}}</div>
                    <div class="text-600 p-1 mb-2">{{product.tagLine}}</div>

                </div>

            </div>
        </ng-template>


    </p-card>
    </ng-container>


</div>