body {
    margin:0em;
    font-family: var(--font-family);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html, body {
    font-family: 'Poppins';
    
}


.p-menu .p-menuitem-text {
    font-family: 'Poppins';
}

